@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, caramellatte;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
}

input {
    margin: auto;
    width: 100%;
}

button {
    width: 100%;
}

.github-link {
    height: 1.5em;
}