@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, caramellatte, forest;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
}

.post-submit {
    min-height: 60vh;
}

.post-submit > * {
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    margin: auto;
    width: 100%;
}

button {
    width: 100%;
}

.github-link {
    height: 1.5em;
}